.wrapper {
    position: relative;
}

.wrapper > input {
    width: 100%;
    padding: 14px 20px;
    border-radius: 10px;
    background-color: var(--accent-background-color);;
    border: none;
}

.wrapper > input.valid {
    color: var(--success-color);
    border: 1px solid var(--success-color);
    background-color: var(--success-secondary-color);
}

.wrapper > input.invalid {
    color: var(--fail-color);
    border: 1px solid var(--fail-color);
    background-color: var(--fail-secondary-color);
}

.validation {
    margin-top: 8px;
    text-align: start;
    padding-inline: 20px;
}

.validation > .valid {
    color: var(--success-color);
}

.validation > .invalid {
    color: var(--fail-color);
}

.showHideButton {
    height: 24px;
    position: absolute;
    top: 12px;
    right: 20px;
    color: var(--secondary-color);
}
