.form {
    margin-top: 94px;
    width: 100%;
    text-align: center;
}

.formHeading {
    text-align: center;
    margin-bottom: 40px;
}

.formGroup:not(:last-of-type) {
    margin-bottom: 20px;
    position: relative;
}

.formSubmit {
    margin-top: 40px;
}
