.form {
    width: 100%;
    text-align: center;
}

.formHeading {
    text-align: center;
    margin-bottom: 40px;
}

.formGroup:not(:last-of-type) {
    margin-bottom: 20px;
    position: relative;
}

.formGroup > input {
    width: 100%;
    padding: 14px 20px;
    border-radius: 10px;
    background-color: var(--accent-background-color);;
    border: none;
}

.formValidation {
    margin-top: 20px;
    text-align: start;
    padding-inline: 20px;
}

.formShowHidePassword {
    height: 24px;
    position: absolute;
    top: 12px;
    right: 20px;
    color: var(--secondary-color);
}

.formTestPassed {
    color: var(--success-color);
}

.formTestFailed {
    color: var(--fail-color);
}

.formSubmit {
    margin-top: 40px;
}
