:root {
  --primary-color: #4a4e71;
  --secondary-color: #6f91bc;
  --accent-color: #fff;

  --accent-background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
